@page
@model WebClinic.Pages.Animais.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Alterar dados do animal</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Animal.ID" />
            <div class="form-group">
                <label asp-for="Animal.Nome" class="control-label"></label>
                <input asp-for="Animal.Nome" class="form-control" />
                <span asp-validation-for="Animal.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.DataNascimento" class="control-label">Data de Nascimento</label>
                <input asp-for="Animal.DataNascimento" class="form-control" />
                <span asp-validation-for="Animal.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Especie" class="control-label">Espécie</label>
                <input asp-for="Animal.Especie" class="form-control" />
                <span asp-validation-for="Animal.Especie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Raca" class="control-label">Raça</label>
                <input asp-for="Animal.Raca" class="form-control" />
                <span asp-validation-for="Animal.Raca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Sexo" class="control-label"></label>
                <input asp-for="Animal.Sexo" class="form-control" />
                <span asp-validation-for="Animal.Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.PesoAproximado" class="control-label"></label>
                <input asp-for="Animal.PesoAproximado" class="form-control" />
                <span asp-validation-for="Animal.PesoAproximado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Cor" class="control-label"></label>
                <input asp-for="Animal.Cor" class="form-control" />
                <span asp-validation-for="Animal.Cor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.Porte" class="control-label"></label>
                <input asp-for="Animal.Porte" class="form-control" />
                <span asp-validation-for="Animal.Porte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Animal.ProprietarioID" class="control-label">Proprietário</label>
                <select asp-for="Animal.ProprietarioID" class="form-control" asp-items="ViewBag.ProprietarioID"></select>
                <span asp-validation-for="Animal.ProprietarioID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
